---
const { title, url, description } = Astro.props;
---
<div class="card">
    <a href={url}>{title}</a>
    <p>{description}</p>
</div>
<style>
    .card {
        border-radius: 2pt;
        box-shadow: 0 0 0 1pt #00aeae;
    }
    a {
        padding: 0rem 1rem;
        color: #00aeae;
        text-decoration: none;
    }
    p {
        padding: 0rem 1rem;
    }
</style>