---
---

<div class="nav-links">
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
    <a href="/work">Work</a>
</div>

<style>
    .nav-links {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
    a {
        padding: 0.5rem 1rem;
        color: white;
        background-color: #00AEAE;
        text-decoration: none;
    }
</style>

