.container {
  display: flex;
  justify-content: center;
  
}
.center {
  width: 25em; 
  padding: 2em;
}
.title {
    border-style: none none solid none;
    color: #e0af68;
}
.subtitle {
    border-style: none none solid none;
    color: #e0af68;
}
body {
    background-color: #1a1b26;
    color: #c0caf5;
}

@font-face { font-family: "gohu"; src: url("gohu.woff") format('woff'); }
pre { font-family: "gohu", "Lucida Console", monospace, Monaco; font-size: 14px; line-height: 1.0; }
a { color: #93ffd7; text-decoration: none; }