.container {
  display: flex;
  justify-content: center;
  
}
.center {
  width: 25rem; 
  padding: 2rem;
}
.title {
    border-style: none none solid none;
    color: #e0af68;
}
.subtitle {
    border-style: none none solid none;
    color: #e0af68;
}
body {
    background-color: #1a1b26;
    color: #c0caf5;
} 
pre {
    border-style: solid;
    border-color: #e0af68;
    
}